.offer-btn{
    background-color: #F29E2A !important;
    border-radius: 5px !important;
    height: 40px;
    width: 180px;
    font-weight: 600 !important;
    margin-top: 15px;
}
.darkcards-new {
    margin: 10px 10px 40px 10px !important;
}
.market-container .tophead-new {
    margin: 50px 30px 20px !important;
}
.media-new{
    justify-content: center;
}
.inputError{
    border:1px solid red !important;
}